#nav {
position: absolute;
top: 20px;
  }
  
#nav a {
  font-style: normal;
  font-size: 11px;
  font-family: Tahoma;
}

#nav, #nav ul {
	float: left;
	list-style: none;
	line-height: 22px;
	height: 22px;
	font-weight: bold;
	padding: 0 5px 0;
	margin: 0 0 0 0px;
}

/* top level links */
#nav a {
	display: block;
	line-height: 22px !important;
	line-height: 20px;
	height: 22px;
	background: none;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	padding: 0 1em;
	border-bottom: 0px;

}

/* sub level links */

#nav ul ul  a {
	display: block;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	padding: 0em 1em;
}


/* parent level menu */

#nav a.daddy {
   background: url(images/blog_menu_arrow.png) center right no-repeat; 
}

/* top level buttons */

#nav li {
	float: left;
	padding: 0;
  background: none;
  width: auto;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 15em;
	font-weight: normal;
	border-width: 0;
	margin: 0;
	padding: 0

	}

#nav li li {
	float: left;
	padding: 0;
   	width: 15em;
   	background: url(images/blog_menuitem_bg.png) repeat-y;
}


/* margin for pullouts */
#nav li ul ul {
	margin: -22px 0 0 15em;
}




#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;


}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover

ul, #nav li li li.sfhover ul {
	   left: auto;
    background: #818181;
	}

#nav li:hover, #nav li.sfhover {
      left: auto;
      background: #4971BA;

}

#nav li:hover a, #nav li.sfhover a {
    color: #ffffff;

}

#nav li li:hover a, #nav li li.sfhover a {
    color: #ffffff;

}
